/* **header** */
.nav-pills .nav-link.active {
  color: black !important;
  background-color: #c1a3a3 !important;
}
.nav-link {
  color: black;
}
.nav-link:hover {
  color: #694e4e !important;
}
.background {
  background-color: #ffd4d7;
}

/* **welcome & CTA** */
.btn-primary {
  color: white !important;
  background-color: red !important;
  border-color: red;
}

/* **menu** */
.card-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.heading-colour {
  color: #c1a3a3 !important;
}

.text-colour {
  color: rgb(8, 8, 8) !important;
}

/* about */
.btn-custom {
  background-color: #c1a3a3 !important;
  color: white;
}
